@use "../core" as *;
@use "sass:map";

:root {
  @each $speed, $value in $animation-durations {
    --motion-#{$speed}: #{$value};
  }

  @each $ease, $value in $animation-easings {
    --ease-#{$ease}: #{$value};
  }

  @each $name, $params-map in $transitions {
    --trans-#{$name}: var(--motion-#{map.get($params-map, "motion")})
      var(--ease-#{map.get($params-map, "ease")});
  }
}

// View transition theme switch
::view-transition-old(root) {
  animation-delay: var(--motion-slow);
}

::view-transition-new(root) {
  animation: circle-in var(--motion-slow);
}

@keyframes circle-in {
  from {
    clip-path: circle(0% at 50% 0%);
  }
  to {
    clip-path: circle(130% at 50% 0%);
  }
}
