@use "../core" as *;

:root {
  // Primitive colors
  @each $key, $value in $color-core-neutral {
    --clr-neutral-#{$key}: #{$value};
  }

  @each $brand, $key-map in $color-core-brand {
    @each $key, $value in $key-map {
      --clr-brand-#{$brand}-#{$key}: #{$value};
    }
  }

  @each $key, $position-map in $color-core-gradient {
    @each $position, $value in $position-map {
      --clr-gradient-#{$key}-#{$position}: #{$value};
    }
  }

  // Light mode
  $theme: "light";
  //  Background-colors
  @each $context, $semantic-map in $background-colors {
    @each $semantic, $mode-map in $semantic-map {
      @each $mode, $value in $mode-map {
        @if $mode == $theme {
          --clr-bg-#{$context}-#{$semantic}: var(--clr-#{$value});
        }
      }
    }
  }
  // Foreground-colors
  @each $context, $semantic-map in $foreground-colors {
    @each $semantic, $mode-map in $semantic-map {
      @each $mode, $value in $mode-map {
        @if $mode == $theme {
          --clr-fg-#{$context}-#{$semantic}: var(--clr-#{$value});
        }
      }
    }
  }
  // Stroke-colors
  @each $context, $semantic-map in $stroke-colors {
    @each $semantic, $mode-map in $semantic-map {
      @each $mode, $value in $mode-map {
        @if $mode == $theme {
          --clr-stroke-#{$context}-#{$semantic}: var(--clr-#{$value});
        }
      }
    }
  }
  // Button-colors
  @each $variant, $state-map in $button-colors {
    @each $state, $role-map in $state-map {
      @each $role, $mode-map in $role-map {
        @each $mode, $value in $mode-map {
          @if $mode == $theme {
            --clr-btn-#{$variant}-#{$state}-#{$role}: var(--clr-#{$value});
          }
        }
      }
    }
  }
  // Color-scheme
  color-scheme: #{$theme};

  // Dark mode
  @media (prefers-color-scheme: dark) {
    $theme: "dark";
    //  Background-colors
    @each $context, $semantic-map in $background-colors {
      @each $semantic, $mode-map in $semantic-map {
        @each $mode, $value in $mode-map {
          @if $mode == $theme {
            --clr-bg-#{$context}-#{$semantic}: var(--clr-#{$value});
          }
        }
      }
    }
    // Foreground-colors
    @each $context, $semantic-map in $foreground-colors {
      @each $semantic, $mode-map in $semantic-map {
        @each $mode, $value in $mode-map {
          @if $mode == $theme {
            --clr-fg-#{$context}-#{$semantic}: var(--clr-#{$value});
          }
        }
      }
    }
    // Stroke-colors
    @each $context, $semantic-map in $stroke-colors {
      @each $semantic, $mode-map in $semantic-map {
        @each $mode, $value in $mode-map {
          @if $mode == $theme {
            --clr-stroke-#{$context}-#{$semantic}: var(--clr-#{$value});
          }
        }
      }
    }
    // Button-colors
    @each $variant, $state-map in $button-colors {
      @each $state, $role-map in $state-map {
        @each $role, $mode-map in $role-map {
          @each $mode, $value in $mode-map {
            @if $mode == $theme {
              --clr-btn-#{$variant}-#{$state}-#{$role}: var(--clr-#{$value});
            }
          }
        }
      }
    }
    // Color-scheme
    color-scheme: #{$theme};
  }

  // Theme
  @each $brand, $key-map in $color-core-brand {
    @if $brand == $default-brand {
      @each $key, $value in $key-map {
        --clr-brand-#{$key}: var(--clr-brand-#{$brand}-#{$key});
      }
    }
  }
}
