@use "../core" as *;

:root {
  // Wrapper max-widths
  @each $size, $value in $wrapper-sizes {
    --size-wrapper-#{$size}: #{px-to-rem($value)};
  }

  // Logo
  @each $size, $value in $logo-sizes {
    --size-logo-#{$size}: #{$value};
  }

  // Icon
  @each $size, $value in $icon-sizes {
    --size-icon-#{$size}: #{$value};
  }

  // Selectable sizing
  @each $element, $property-map in $selectable-sizes {
    @each $property, $value in $property-map {
      --size-#{$element}-#{$property}: #{$value};
    }
  }

  // Selectable padding
  @each $size, $value in $padding-selectable {
    --pad-select-#{$size}: #{$value};
  }

  // Page padding
  @each $direction, $value in $padding-page {
    --pad-page-#{$direction}: #{$value};
  }

  // Section
  @each $size, $value in $padding-section {
    --pad-sect-#{$size}: #{$value};
  }

  // Container padding
  @each $size, $value in $padding-container {
    --pad-cont-#{$size}: #{$value};
  }

  // Container spacing
  @each $size, $value in $spacer-container {
    --space-cont-#{$size}: #{$value};
  }

  // Border-widths
  @each $size, $value in $border-widths {
    --bw-#{$size}: #{px-to-rem($value)};
  }

  // Border-radius
  @each $size, $value in $border-radius {
    --br-#{$size}: #{$value};
  }
  --br-round: 50%;
  --br-pill: 100vmax;

  // Box-shadows
  @each $size, $value in $box-shadows {
    --bs-#{$size}: #{$value};
  }
}
