@use "../core" as *;

:root {
  // Breakpoints
  @each $size, $value in $breakpoints {
    --bp-#{$size}: #{px-to-em($value)};
  }

  // Wrapper max-widths
  @each $size, $value in $wrapper-sizes {
    --size-wrapper-#{$size}: #{px-to-rem($value)};
  }

  // Logo
  @each $size, $value in $logo-sizes {
    --size-logo-#{$size}: #{$value};
  }

  // Icon
  @each $size, $value in $icon-sizes {
    --size-icon-#{$size}: #{$value};
  }

  // Selectable sizing
  @each $element, $property-map in $selectable-sizes {
    @each $property, $value in $property-map {
      --size-#{$element}-#{$property}: #{$value};
    }
  }

  // Selectable padding
  @each $size, $value in $padding-selectable {
    --pad-select-#{$size}: #{$value};
  }

  // Page padding
  @each $direction, $value in $padding-page {
    --pad-page-#{$direction}: #{$value};
  }

  // Section
  @each $size, $value in $padding-section {
    --pad-sect-#{$size}: #{$value};
  }

  // Container padding
  @each $size, $value in $padding-container {
    --pad-cont-#{$size}: #{$value};
  }

  // Container spacing
  @each $size, $value in $spacer-container {
    --space-cont-#{$size}: #{$value};
  }
}
