body {
  font-family: var(--ff-base);
  color: var(--clr-fg-text-base);
  background-image: linear-gradient(
    180deg,
    var(--clr-bg-canvas-gradient-start),
    var(--clr-bg-canvas-gradient-end)
  );
  font-size: var(--fs-body-md);
}
::selection {
  background-color: green;
  color: blue;
}
