body {
  font: var(--font-5);
  letter-spacing: var(--ls-md);
  color: var(--fg-text-base);
  background-image: linear-gradient(
    180deg,
    var(--bg-canvas-gradient-start),
    var(--bg-canvas-gradient-end)
  );
  padding-block-start: var(--pad-page-block-start);
  padding-block-end: var(--pad-page-block-end);
}
::selection {
  background-color: var(--bg-container-selection);
  color: var(--fg-text-selection);
}
