@use "sass:math";
@use "page" as *;

// Rounding
@function round($number, $decimals: 0) {
  $n: 1;
  @if $decimals > 0 {
    @for $i from 1 through $decimals {
      $n: $n * 10;
    }
  }
  @return math.div(math.round($number * $n), $n);
}

//   px to rem
@function px-to-rem($px) {
  $rems: math.div($px, 16px) * 1rem;
  @return $rems;
}

//   px to em
@function px-to-em($px) {
  $ems: math.div($px, 16px) * 1em;
  @return $ems;
}

// clamp
@function fluid(
  $min-size,
  $max-size,
  $min-breakpoint: $viewport-min,
  $max-breakpoint: $viewport-max,
  $unit: vw
) {
  @if $min-size == $max-size {
    @return px-to-rem($min-size);
  } @else {
    $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
    $slope-to-unit: round($slope * 100, 2);
    $intercept-rem: round(px-to-rem($min-size - $slope * $min-breakpoint), 2);
    $min-size-rem: round(px-to-rem($min-size), 2);
    $max-size-rem: round(px-to-rem($max-size), 2);
    @return clamp(
      #{$min-size-rem},
      #{$slope-to-unit}#{$unit} + #{$intercept-rem},
      #{$max-size-rem}
    );
  }
}
