@use "../core/" as *;

// Light-mode
[data-theme="light"] {
  $theme: "light";
  //  Background-colors
  @each $context, $semantic-map in $background-colors {
    @each $semantic, $mode-map in $semantic-map {
      @each $mode, $value in $mode-map {
        @if $mode == $theme {
          --clr-bg-#{$context}-#{$semantic}: var(--clr-#{$value});
        }
      }
    }
  }
  // Foreground-colors
  @each $context, $semantic-map in $foreground-colors {
    @each $semantic, $mode-map in $semantic-map {
      @each $mode, $value in $mode-map {
        @if $mode == $theme {
          --clr-fg-#{$context}-#{$semantic}: var(--clr-#{$value});
        }
      }
    }
  }
  // Stroke-colors
  @each $context, $semantic-map in $stroke-colors {
    @each $semantic, $mode-map in $semantic-map {
      @each $mode, $value in $mode-map {
        @if $mode == $theme {
          --clr-stroke-#{$context}-#{$semantic}: var(--clr-#{$value});
        }
      }
    }
  }
  // Button-colors
  @each $variant, $state-map in $button-colors {
    @each $state, $role-map in $state-map {
      @each $role, $mode-map in $role-map {
        @each $mode, $value in $mode-map {
          @if $mode == $theme {
            --clr-btn-#{$variant}-#{$state}-#{$role}: var(--clr-#{$value});
          }
        }
      }
    }
  }

  // Color-scheme
  color-scheme: #{$theme};
}

// Dark mode
[data-theme="dark"] {
  $theme: "dark";
  //  Background-colors
  @each $context, $semantic-map in $background-colors {
    @each $semantic, $mode-map in $semantic-map {
      @each $mode, $value in $mode-map {
        @if $mode == $theme {
          --clr-bg-#{$context}-#{$semantic}: var(--clr-#{$value});
        }
      }
    }
  }
  // Foreground-colors
  @each $context, $semantic-map in $foreground-colors {
    @each $semantic, $mode-map in $semantic-map {
      @each $mode, $value in $mode-map {
        @if $mode == $theme {
          --clr-fg-#{$context}-#{$semantic}: var(--clr-#{$value});
        }
      }
    }
  }
  // Stroke-colors
  @each $context, $semantic-map in $stroke-colors {
    @each $semantic, $mode-map in $semantic-map {
      @each $mode, $value in $mode-map {
        @if $mode == $theme {
          --clr-stroke-#{$context}-#{$semantic}: var(--clr-#{$value});
        }
      }
    }
  }
  // Button-colors
  @each $variant, $state-map in $button-colors {
    @each $state, $role-map in $state-map {
      @each $role, $mode-map in $role-map {
        @each $mode, $value in $mode-map {
          @if $mode == $theme {
            --clr-btn-#{$variant}-#{$state}-#{$role}: var(--clr-#{$value});
          }
        }
      }
    }
  }
  // Color-scheme
  color-scheme: #{$theme};
}

// Brand
[data-brand="red"] {
  $custom-brand: "red";
  @each $brand, $key-map in $color-core-brand {
    @if $brand == $custom-brand {
      @each $key, $value in $key-map {
        --clr-brand-#{$key}: var(--clr-brand-#{$brand}-#{$key});
      }
    }
  }
}

[data-brand="blue"] {
  $custom-brand: "blue";
  @each $brand, $key-map in $color-core-brand {
    @if $brand == $custom-brand {
      @each $key, $value in $key-map {
        --clr-brand-#{$key}: var(--clr-brand-#{$brand}-#{$key});
      }
    }
  }
}
