@use "../core/" as *;

// Background-color
@each $context, $semantic-map in $background-colors {
  @each $semantic, $value in $semantic-map {
    .bg-#{$context}-#{$semantic} {
      background-color: var(--clr-bg-#{$context}-#{$semantic});
    }
  }
}

// Foreground-color
@each $context, $semantic-map in $foreground-colors {
  @each $semantic, $value in $semantic-map {
    .fg-#{$context}-#{$semantic} {
      color: var(--clr-fg-#{$context}-#{$semantic});
    }
  }
}

// Border-radius
@each $size, $value in $border-radius {
  .br-#{$size} {
    border-radius: var(--br-#{$size});
  }
}

.br-none {
  border-radius: 0;
}

.round {
  border-radius: var(--br-round);
  aspect-ratio: 1 / 1;
}

.pill {
  border-radius: var(--br-pill);
}

// Box-shadows
@each $size, $value in $box-shadows {
  .bs-#{$size} {
    box-shadow: var(--br-#{$size});
  }
}

// Font-sizes
@each $category, $size-map in $font-sizes {
  @each $size, $value in $size-map {
    .fs-#{$category}-#{$size} {
      font-size: var(--fs-#{$category}-#{$size});
    }
  }
}

// Font-weights
@each $size, $value in $font-weights {
  .fw-#{$size} {
    font-weight: var(--fw-#{$size});
  }
}

// Text-center
.text-center {
  text-align: center;
}

// Uppercase
.uppercase {
  text-transform: uppercase;
}

// Flow
.flow > * + * {
  margin-top: var(--flow-spacer, var(--space-cont-md));
}

// Centre horizontally
.mx-auto {
  margin-inline: auto;
}

// Section padding
@each $size, $value in $padding-section {
  .pad-sect-#{$size} {
    padding-block: var(--pad-sect-#{$size});
  }
}

// Visually hidden
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
