---
// Integreations
import { Icon } from "astro-icon/components";

// Types
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  type?: "button" | "submit";
  variant: "default";
  size: "small" | "large";
  text?: string;
  icon?: string;
  classes?: string;
}

const {
  type = "button",
  variant,
  size,
  text,
  icon,
  classes,
  ...rest
} = Astro.props;
---

<button class:list={["btn", variant, size, classes]} {type} {...rest}>
  {text && <span class="text">{text}</span>}
  {icon && <Icon name={icon} />}
</button>

<style lang="scss">
  .btn {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: var(--space-cont-md);
    text-transform: none;
    text-decoration: none;
    border-style: solid;
    border-radius: var(--br-pill);
    border-width: var(--bw-md);
    transition:
      color var(--transition-default),
      background-color var(--transition-default),
      border-width var(--transition-default),
      border-color var(--transition-default);

    &:not(:disabled) {
      cursor: pointer;
    }

    &:focus {
      outline: 0px solid transparent;
    }

    // Themes
    &.default {
      background-color: var(--btn-default-idle-bg);
      color: var(--btn-default-idle-fg);
      border-color: var(--btn-default-idle-border);

      @media (hover: hover) {
        &:hover {
          background-color: var(--btn-default-hover-bg);
          color: var(--btn-default-hover-fg);
          border-color: var(--btn-default-hover-border);
        }
      }

      &:active {
        // No pressed state
      }

      &:focus-visible {
        background-color: var(--btn-default-focus-bg);
        border-color: var(--btn-default-focus-border);
        box-shadow:
          0 0 0 var(--bw-lg) var(--btn-default-focus-border),
          0 0 0 calc(var(--bw-lg) * 2) var(--btn-default-focus-outline);
      }
    }

    // Sizes
    &.small {
      font: var(--font-6);
      letter-spacing: var(--ls-md);
      padding-inline: var(--pad-select-md);
      padding-block: var(--pad-select-xs);
    }

    &.large {
      font: var(--font-3);
      letter-spacing: var(--ls-lg);
      padding-inline: var(--pad-select-lg);
      padding-block: var(--pad-select-xs);
    }
  }
</style>
