---
// Types
import type { HTMLAttributes } from "astro/types";

const justifyContentOptions = {
  start: "flex-start",
  end: "flex-end",
  center: "center",
  between: "space-between",
  around: "space-around",
  evenly: "space-evenly",
};

const alignItemsOptions = {
  stretch: "stretch",
  start: "flex-start",
  end: "flex-end",
  center: "center",
  baseline: "baseline",
};

interface Props extends HTMLAttributes<"div"> {
  dir?: "row" | "column";
  primAxis?: keyof typeof justifyContentOptions;
  secAxis?: keyof typeof alignItemsOptions;
  colGap?: string;
  rowGap?: string;
  center?: boolean;
}

const {
  dir = "row",
  primAxis = "start",
  secAxis = "center",
  colGap = "md",
  rowGap = "md",
  ...rest
} = Astro.props;

const colGapStr = `var(--space-cont-${colGap})`;
const rowGapStr = `var(--space-cont-${rowGap})`;
const justifyContent = justifyContentOptions[primAxis];
const alignItems = alignItemsOptions[secAxis];
---

<div class:list={["flex-group", dir]} {...rest}>
  <slot />
</div>

<style
  lang="scss"
  define:vars={{ justifyContent, alignItems, colGapStr, rowGapStr }}
>
  .flex-group {
    display: flex;
    justify-content: var(--justifyContent);
    align-items: var(--alignItems);
    flex-wrap: wrap;
    column-gap: var(--colGapStr);
    row-gap: var(--rowGapStr);

    &.row {
      flex-direction: row;
    }
    &.column {
      flex-direction: column;
    }
  }
</style>
