---
import Header from "@/components/sections/Header.astro";
import "@sass/main.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Set Light/Dark mode -->
    <script is:inline>
      (() => {
        const stored = localStorage.getItem("theme-preference");
        const system = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        const theme = stored ?? (system ? "dark" : "light");
        document.documentElement.dataset.theme = theme;
      })();
    </script>
    <title>Frontend Mentor | Browser Extensions</title>
  </head>
  <body>
    <div class="gsap-auto-alpha">
      <Header />
      <main id="main">
        <slot />
      </main>
    </div>
  </body>
</html>
